.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items:center;
  background: linear-gradient(
    rgba(70, 66, 66, 0.7),
    rgba(65, 51, 51, 0.123)
  ), url("../../../public/fondoPpal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  padding: 1rem;
  gap: 5rem;
}

.countries {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 60rem;
  max-width: 65rem;
}

.containerFilter{
  display: flex;
  flex-direction: column;
}

.Paginacion{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ActivityAlert{
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
}

@media (max-width:1075px){
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      rgba(70, 66, 66, 0.7),
      rgba(65, 51, 51, 0.123)
    ), url("../../../public/fondoPpal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
    padding: 1rem;
  }

  .containerFilter{
    display: flex;
  }
}
